In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_raw  = pd.read_csv("heart.csv")
data = data_raw.copy()

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [4]:
data.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [5]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
# label_enc = labelEncoder()
# data["Sex"] = label_enc.fit_transform(data[["Sex"]])

In [30]:
data_categotical = data.select_dtypes("object")
data_numeric = data.select_dtypes(["float64","int64"]).iloc[:,:-1]
data_label = data.iloc[:,-1]

In [23]:
data_categotical

array([['M', 'ATA', 'Normal', 'N', 'Up'],
       ['F', 'NAP', 'Normal', 'N', 'Flat'],
       ['M', 'ATA', 'ST', 'N', 'Up'],
       ...,
       ['M', 'ASY', 'Normal', 'Y', 'Flat'],
       ['F', 'ATA', 'LVH', 'N', 'Flat'],
       ['M', 'NAP', 'Normal', 'N', 'Up']], dtype=object)

In [24]:
data_numeric

array([[ 40. , 140. , 289. ,   0. , 172. ,   0. ],
       [ 49. , 160. , 180. ,   0. , 156. ,   1. ],
       [ 37. , 130. , 283. ,   0. ,  98. ,   0. ],
       ...,
       [ 57. , 130. , 131. ,   0. , 115. ,   1.2],
       [ 57. , 130. , 236. ,   0. , 174. ,   0. ],
       [ 38. , 138. , 175. ,   0. , 173. ,   0. ]])

In [6]:
label_enc = LabelEncoder()

In [66]:
data_categotical = data_categotical.apply(label_enc.fit_transform)

In [67]:
data_cat_bin = data_categotical[["Sex","ExerciseAngina"]]

In [69]:
data_cat_bin

     Sex  ExerciseAngina
0      1               0
1      0               0
2      1               0
3      0               1
4      1               0
..   ...             ...
913    1               0
914    1               0
915    1               1
916    0               0
917    1               0

[918 rows x 2 columns]

In [68]:
data_categotical[["ChestPainType","RestingECG","ST_Slope"]]

     ChestPainType  RestingECG  ST_Slope
0                1           1         2
1                2           1         1
2                1           2         2
3                0           1         1
4                2           1         2
..             ...         ...       ...
913              3           1         1
914              0           1         1
915              0           1         1
916              1           0         1
917              2           1         2

[918 rows x 3 columns]

In [52]:
from sklearn.preprocessing import OneHotEncoder

In [53]:
ohe_enc = OneHotEncoder()

In [70]:
data_ohe = ohe_enc.fit_transform(data_categotical[["ChestPainType","RestingECG","ST_Slope"]].values).toarray()

In [71]:
data_ohe.shape

(918, 10)

In [72]:
data_categotical.nunique()

Sex               2
ChestPainType     4
RestingECG        3
ExerciseAngina    2
ST_Slope          3
dtype: int64

In [73]:
data_final = np.concatenate([data_numeric.values,data_cat_bin.values,data_ohe],axis = 1)

In [74]:
pd.DataFrame(data_final)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,40.0,140.0,289.0,0.0,172.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,49.0,160.0,180.0,0.0,156.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,37.0,130.0,283.0,0.0,98.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,48.0,138.0,214.0,0.0,108.0,1.5,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,54.0,150.0,195.0,0.0,122.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45.0,110.0,264.0,0.0,132.0,1.2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
914,68.0,144.0,193.0,1.0,141.0,3.4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
915,57.0,130.0,131.0,0.0,115.0,1.2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
916,57.0,130.0,236.0,0.0,174.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
917,38.0,138.0,175.0,0.0,173.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0